<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-store" />
    <title>@ViewData["Title"] - CozyBean</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=family=Montserrat:wght@400;600" rel="stylesheet">
    <link href="https://p.typekit.net/p.css?s=1&k=tig5ggp&ht=tk&f=46211&a=92478119&app=typekit&e=css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white m-0">
            <div class="container-fluid">
                <a class="navbar-brand" asp-page="Index"><img height="80px" src="~/Content/cozybeanlogo.png" alt="Cozy Bean" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align mb-3">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="Menu" asp-route-category="popular">Menu</a>
                            @if (@ViewData["Title"] == "Menu")
                            {
                                <div class="nav-underline-active"></div>
                            }
                            else
                            {
                                <div class="nav-underline-hidden"></div>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="About">About Us</a>
                            @if (@ViewData["Title"] == "About")
                            {
                                <div class="nav-underline-active"></div>
                            }
                            else
                            {
                                <div class="nav-underline-hidden"></div>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="Location">Location</a>
                            @if (@ViewData["Title"] == "Location")
                            {
                                <div class="nav-underline-active"></div>
                            }
                            else
                            {
                                <div class="nav-underline-hidden"></div>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="Entertainment">Entertainment</a>
                            @if (@ViewData["Title"] == "Entertainment")
                            {
                                <div class="nav-underline-active"></div>
                            }
                            else
                            {
                                <div class="nav-underline-hidden"></div>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="Contact">Contact</a>
                            @if (@ViewData["Title"] == "Contact")
                            {
                                <div class="nav-underline-active"></div>
                            }
                            else
                            {
                                <div class="nav-underline-hidden"></div>
                            }
                        </li>
                    </ul>
                </div>
                @if (@ViewData["Title"] == "Menu" || @ViewData["Title"] == "Order")
                {
                    <img id="shopping-bag" src="~/Content/shoppingcart.png" height="50px" />
                }
                else
                {
                    <a id="order-ahead" asp-page="Menu" asp-route-category="popular" class="btn mb-4">Order Ahead</a>
                }
            </div>
        </nav>
    </header>
    <div class="container-fluid p-0">
        <main role="main" class="p-0">
            @RenderBody()
        </main>
    </div>

    <footer class="footer container-fluid align-items-center text-light pt-3 pb-3 mr-0">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <a class="text-white" asp-page="Index"><img src="~/Content/cozybeanlogotext.png" alt="Cozy Bean" id="footer-logo" /></a>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <a class="text-white" asp-page="About"><h2>About</h2></a>
                <p>Are you a coffee lover, open to new tastes? A tired student who just got off class and wants to take a cozy break? Or do you just want to look for a cozy place where you can meet your friends and spend pleasant moments on cold winter days? Cozy Bean Cafe is the place for you. We’re happy to offer you this unique cozy environment where you can feel welcomed and happy with every sip. We’re more than just a place, we’re Cozy Bean Cafe.</p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <a class="text-white" asp-page="Location"><h2>Hours of Operation</h2></a>
                <table id="schedule-table">
                    <tr>
                        <td>Monday</td>
                        <td>9:00am - 10:00pm</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>9:00am - 10:00pm</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>9:00am - 10:00pm</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>9:00am - 10:00pm</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>9:00am - 10:00pm</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>9:00am - 10:00pm</td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td>9:00am - 10:00pm</td>
                    </tr>
                </table>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <a class="text-white" asp-page="Contact"><h2>Contact Us</h2></a>
                <p>contact@cozybean.com</p>
                <p><a href="tel:+1416-123-4567" class="phone text-white">416-123-4567</a></p>
                <p>655 Queen Street W</p>
                <ul class="socialmedia">
                    <li><a href="#"><img src="~/Content/facebookicon.png" class="social-icon" /></a></li>
                    <li><a href="#"><img src="~/Content/instagramicon.png" class="social-icon" /></a></li>
                    <li><a href="#"><img src="~/Content/twittericon.png" class="social-icon" /></a></li>
                    <li><a href="#"><img src="~/Content/tiktokicon.png" class="social-icon" /></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
