@page "/Order/{id}"
@model CozyBean.Pages.OrderModel
@{
    ViewData["Title"] = "Order";
}

<div class="container-fluid">
    <div id="order-top" class="row justify-content-center">

        <div id="image-container" class="col-12 col-sm-4">
            <img src=@Model.Item.ImageURL id="order-image" class="image-fit" />
        </div>
        <div class="col-12 col-sm-4">
            <h1 id="item-name">@Model.Item.Name</h1>
            <p>@Model.Item.Description</p>
            <ul id="details-list">
                @if (@Model.Item.Vegan)
                {
                    <li>V</li>
                }
                @if (@Model.Item.GlutenFree)
                {
                    <li>GF</li>
                }
                <li>@Model.Item.Calories Calories</li>
            </ul>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-sm-4 padded-text">
            <h2>Customization</h2>
            @if (@Model.Item.SizeOptions)
            {
                <div>
                    <select id="size-dropdown" name="size-dropdown" class="customization-option">
                        <option value="Small">Small</option>
                        <option value="Medium" selected="selected">Medium</option>
                        <option value="Large">Large</option>
                    </select>
                </div>
            }
            @if (@Model.Item.MilkOptions)
            {
                <div>
                    <select id="milk-dropdown" name="milk-dropdown" class="customization-option">
                        <option value="No Milk">No Milk</option>
                        <option value="Skim Milk">Skim Milk</option>
                        <option value="Whole Milk">Whole Milk</option>
                        <option value="Oat Milk">Oat Milk</option>
                        <option value="Almond Milk">Almond Milk</option>
                    </select>
                </div>
            }
            @if (@Model.Item.SugarOptions)
            {
                <div>
                    <select id="sugar-dropdown" name="sugar-dropdown" class="customization-option">
                        <option value="None">No Sugar</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            }
            @if (@Model.Item.WarmOptions)
            {
                <div>
                    <select id="warm-dropdown" name="warm-dropdown" class="customization-option">
                        <option value="Yes">Warmed Up</option>
                        <option value="No">Not Warm</option>
                    </select>
                </div>
            }
        </div>
        <div class="col-12 col-sm-4">
            <div id="order-summary-border">
                <table id="order-summary">
                    <tr>
                        <th colspan="2"><h3>Order Summary</h3></th>
                    </tr>
                    @if (@Model.Item.SizeOptions)
                    {
                        <tr id="size-row">
                            <td id="size-label">Size</td>
                            <td id="drink-size">Medium</td>
                        </tr>
                    }
                    @if (@Model.Item.MilkOptions)
                    {
                        <tr id="milk-row">
                            <td id="milk-label">Milk Type</td>
                            <td id="milk-type">No Milk</td>
                        </tr>
                    }
                    @if (@Model.Item.SugarOptions)
                    {
                        <tr id="sugar-row">
                            <td id="sugar-label">Sugar</td>
                            <td id="sugar-amount">None</td>
                        </tr>
                    }
                    @if (@Model.Item.WarmOptions)
                    {
                        <tr id="warm-row">
                            <td id="warm-label">Warm</td>
                            <td id="warm-amount">Yes</td>
                        </tr>
                    }
                    <tr id="calorie-row">
                        <td id="calorie-label">Calories</td>
                        <td id="calorie-amount">@Model.Item.Calories</td>
                    </tr>
                    <tr id="price-row">
                        <td id="price-label">Price</td>
                        <td id="price-amount">$@Model.Item.Price</td>
                    </tr>
                </table>
                <button class="w-100 p-3" id="checkout-button">Add to Order</button>
            </div>
        </div>
    </div>
</div>

<div id="order-popout">
    <div class="row" id="order">

    </div>
    <div class="row">
        <button href="#" class="w-100 p-3" id="cart-button">Place Order</button>
    </div>
</div> 
